/* ------------------------------------------------------ */
/* ---------------------- GENERAL ------------------------ */
/* ------------------------------------------------------ */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; 
}
body {
  margin-top: 60px;
  background: linear-gradient(45deg, #faf3dd, #68b0ab);
  font-family: Arial, sans-serif;
}
main {
  width: 100%;
  min-height: calc(100vh - 60px); 
  padding-top: 60px; 
  box-sizing: border-box; 
}

/* ------------------------------------------------------ */
/* ----------------- PALETA DE COLORES ------------------ */
/* ------------------------------------------------------ */
/* https://coolors.co/palette/faf3dd-c8d5b9-8fc0a9-68b0ab-4a7c59 */

/* *Claro */
/* #FAF3DD */
/* #C8D5B9 */
/* #8FC0A9 */
/* #68B0AB */
/* #4A7C59 */

/* *Oscuro */
/* #2A261F / #292723 — versión oscura del crema #FAF3DD */
/* #3E4A36 — versión oscura del verde suave #C8D5B9 */
/* #2F5A4D — versión oscura del verde medio #8FC0A9 */
/* #1F4A48 — versión oscura del verde azulado #68B0AB */
/* #0F2E1F — versión más profunda del verde oscuro #4A7C59 */

/* ------------------------------------------------------ */
/* ----------------------- NAVBAR ----------------------- */
/* ------------------------------------------------------ */

.navbar {
  background-color: #68b0ab;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.navbar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #8fc0a9;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 710px) {
  .navbar a:not(:first-child) {
    display: none;
  }

  .navbar a.icon {
    display: block;
    margin-left: auto;
  }
}

@media screen and (max-width: 710px) {
  .navbar.responsive {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }

  .navbar.responsive a {
    display: block;
    width: 100%;
  }
}

/* ------------------------------------------------------ */
/* ----------------------- SLIDER ----------------------- */
/* ------------------------------------------------------ */
.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding: 20px;
}

#slider {
  width: 55%;
  /* \//TODO FIXED: ver como arreglar el tema de las imagenes para que no se recorten y muestre la imagen completa*/
  max-height: 700px;
  height: 100%;
  border: 3px solid #ffffff;
  border-radius: 10px;
  overflow: hidden;
  background: #8fc0a9;
}

#slider figure {
  width: 500%;
  margin: 0;
  left: 0;
  position: relative;
  animation: 30s slidy infinite;
  /* \//TODO FIXED: hacer que las imagenes se queden en el centro del div, para que se vean todas a la misma altura 
  y si hay espacios en blanco que se rellenen de negro por ejemplo */
  display: flex;
  justify-content: center;
  align-items: center;
}

#slider figure img {
  width: 20%;
  height: 100%;
  max-height: 600px;
  float: left;
  display: block;
}

@keyframes slidy {
  0%,
  16% {
    left: 0%;
  }
  20%,
  36% {
    left: -100%;
  }
  40%,
  56% {
    left: -200%;
  }
  60%,
  76% {
    left: -300%;
  }
  80%,
  96% {
    left: -400%;
  }
  100% {
    left: -400%;
  }
}
@media (max-width: 768px) {
  #slider {
    width: 100%;
  }
}

/* ------------------------------------------------------ */
/* ----------------------- CARDS ------------------------ */
/* ------------------------------------------------------ */
.cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 16px;
  padding-bottom: 10px;
  -webkit-overflow-scrolling: touch;
}

.card {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin: 10px;
  background: white;
  min-width: 300px;
  min-height: 300px;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  
}

.card .title {
  position: absolute;
  bottom: 35%; /* Poner en la parte inferior */
  width: 100%;
  background-color: rgba(67, 66, 65, 0.75); /* gris oscuro con transparencia */
  color: white;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
  font-size: 1.1em;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .card {
    min-width: 90%;
  }
}

/* ------------------------------------------------------ */
/* ----------------------- MODAL ------------------------ */
/* ------------------------------------------------------ */
.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
}

.modal-content {
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  max-height: 90vh;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* evita overflow del contenido */
}

.modal-content img {
  max-width: 100%; /* no superar ancho modal */
  max-height: 60vh; /* no superar 80% de altura ventana */
  height: auto; /* mantener proporción */
  border-radius: 8px;
  object-fit: contain; /* asegura que no se recorte ni deforme */
}

.cerrar {
  align-self: flex-end;
  font-size: 28px;
  cursor: pointer;
  user-select: none;
}

/* ------------------------------------------------------ */
/* -------------- MENU FILTER RECOMMENDS ---------------- */
/* ------------------------------------------------------ */
.filtersMenu {
  width: 70%;
  border: 3px solid #ffffff;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  display: grid;
  gap: 15px;
  color: #292723;
}
.filterRecomends {
  display: flex;
  flex-direction: row; /* Mantener row en pantallas grandes */
  gap: 10px;
  justify-content: center;
}
@media (max-width: 768px) {
  .filtersMenu {
    width: 100%;
    padding: 15px;
  }

  .filterRecomends {
    flex-direction: column;
    align-items: stretch;
  }

  .filterRecomends select,
  .filterRecomends input[type="range"] {
    width: 100%;
  }
}

.filtersMenu {
  width: 70%;
  max-width: 1200px;
  margin-inline: auto;
  padding: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: rgba(133, 212, 199, 0.7);
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  color: #fff;
}

.filterChat {
  display: flex;
  gap: 15px;
}

.inputGroup {
  display: flex;
  gap: 10px;
  align-items: center;
}

.inputGroup label {
  cursor: pointer;
  font-size: 14px;
}

/* ------------------------------------------------------ */
/* ---------- CARDS PRODUCTS IN SEARCH PAGE ------------- */
/* ------------------------------------------------------ */
.products{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cards-search{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
